// src/styles/components/_footer.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

footer {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 218px;
  overflow: hidden;
  background-color: $teal;

  @include respond-to("b-890") {
    height: 210px;
    background-image: url("/images/ui/Footer_1080.webp");
    background-size: cover;
    background-position: center;
  }

  @include respond-to("b-700") {
    height: 120px;
  }

  .footer-parallax-img {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: auto;
    transform: translate3d(-50%, 0, 0);
    will-change: transform;
    pointer-events: none;

    @include respond-to("b-890") {
      display: none;
      transform: none;
    }
  }
} // footer

.copyright {
  width: 100%;
  max-width: 1080px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  color: $white;
  background-color: $teal;
}
