@use "../utils/variables" as *;

body.has-galaxy {
  position: relative;
  background: $black;
  color: #f5f5f5;
}

.galaxy-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}