// src/styles/components/_hero.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.hero {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 218px;
  overflow: hidden;

  @include respond-to("b-890") {
    height: 210px;
    background-image: url("/images/ui/header.webp");
    background-size: cover;
    background-position: center;
  }

  @include respond-to("b-700") {
    height: 120px;
  }

  .parallax-img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
    height: 100%;
    width: auto;
    will-change: transform;
    pointer-events: none;

    @include respond-to("b-890") {
      display: none;
      transform: none;
    }
  }

} // .hero
