// src/styles/components/_project-card.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  background-color: $white;
  &:hover {
    background-color: $pastel-blue;
  }

  .project-card-image {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 0.75rem;
    overflow: hidden;

    @include respond-to("b-850") {
      height: 400px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }

  } // .project-card-image

  .project-card-body {
    padding: 20px;
    color: $purple;
    text-align: left;

    .project-card-header {
      margin-bottom: 5px;

      h3 {
        color: $pink;
      }

      .project-badge {}

    } // .project-card-header

    .project-summary {
      color: $blue;
    }

    .project-meta {
      span {}
    }

    a {
      color: $pink;
      text-decoration: underline;
      &:hover {
        color: $purple;
      }
      &:active, &:focus {
        border: 2px solid $purple;
      }
    }

  } // .project-card-body

} // .project-card
