// src/styles/components/_project-modal.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: $white;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal-dialog {
  width: min(90vw, 1080px);
  max-width: 1080px;
  max-height: 100vh;
  overflow: auto;
  //padding: 1.5rem;
  padding: 20px 0;
  background: $white;
  color: $pink;

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 20px;

    .escape-message {
      text-align: right;
      font-size: 0.8rem;
    }

    .modal-nav {
      display: flex;
      align-items: center;

      .modal-nav-button {
        display: inline-flex;
        align-items: center;
        gap: 0.35rem;
        padding: 0.6rem 0.75rem 0.6rem;
        margin-right: 5px;
        span {
          padding-top: 2px;
        }
      }

      .modal-close {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 0.75rem 0.65rem;
        font-size: 1.15rem;
        span {
          padding-top: 2px;
        }
      }

    } // .modal-nav
  } // .modal-header

  .project-modal-body {
    display: flex;
    justify-content: center;
    gap: 20px;
    @include respond-to('b-700') {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  .project-modal-images {
    width: 59.36%;
    @include respond-to('b-700') {
      order: 2;
      width: 100%;
    }

    .project-modal-image {
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        max-width: 100%;
      }

    } // .project-modal-image

  } // .project-modal-images
  
  .project-modal-information {
    width: 39.04%;
    @include respond-to('b-700') {
      order: 1;
      width: 100%;
      margin: 40px 0;
    }

    .project-modal-title {
      margin: 0 0 10px 0;
      color: $pink;
    }
  
    p {
      width: 100%;
      margin: 0 0 10px 0;
      color: $teal;
      font-size: 1rem;
      line-height: 1.5;
      // &:last-of-type {
      //   margin-bottom: 0;
      // }
    }
    
    strong {color: $purple;}
  
    .project-modal-link {
      a {
        color: $pink;
        text-decoration: underline;
        &:hover {
          color: $purple;
        }
        &:active, &:focus {
          border: 2px solid $purple;
        }
      }
    } // .project-modal-link
  
    .project-modal-meta {
      span {}
    } // .project-modal-meta
  
    .project-modal-role {
      
    }
  
    .project-modal-tools {

    }
  
    .project-modal-summary {}

    .project-modal-highlights {
      color: $teal;
      h3 {
        margin: 15px 0 5px;
        color: $purple;
      }
      ul {
        padding-left: 20px;
      }
      li {}
    } // .project-modal-highlights

  } // .project-modal-information

} // .modal-dialog

