// src/styles/components/_project-modal.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: $white;
  display: flex;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  //padding: 20px 0;
}

.modal-dialog {
  width: min(90vw, 1080px);
  max-width: 1080px;
  // max-height: 100vh;
  // overflow: auto;
  //padding: 20px 0;
  background: $white;
  color: $pink;

  &:focus {
    outline: none;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 20px 20px 16px;
    //margin-bottom: 2rem;
    background-color: $white;

    .escape-message {
      text-align: right;
      font-size: 0.8rem;
    }

    .modal-nav {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .modal-nav-button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 6px 14px;
        color: $white;
        background-color: $purple;
        border: 2px solid $purple;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        text-decoration: none;
        
        &:hover {
          background-color: $pink-2;
          border-color: $pink-2;
        }
        
        &:focus {
          outline: 2px solid $purple;
          outline-offset: 2px;
        }
        
        svg {
          font-size: 1rem;
        }
        
        span {
          padding-top: 2px;
        }

      } // .modal-nav-button

      .modal-close {
        display: inline-flex;
        align-items: center;
        padding: 7.5px 14px 7.5px;
        color: $white;
        background-color: $purple;
        border: 2px solid $purple;
        text-transform: uppercase;
        font-size: 1.15rem;
        letter-spacing: 0.04em;
        text-decoration: none;
        
        &:hover {
          background-color: $pink-2;
          border-color: $pink-2;
        }
        
        &:focus {
          outline: 2px solid $purple;
          outline-offset: 2px;
        }
        
        svg {
          font-size: 1rem;
        }
        
        span {
          padding-top: 2px;
        }

      } // .modal-close

    } // .modal-nav

  } // .modal-header

  .project-modal-body {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px 20px;

    @include respond-to('b-700') {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  .project-modal-images {
    width: 59.36%;

    @include respond-to('b-700') {
      order: 2;
      width: 100%;
    }

    .project-modal-image {
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }

    } // .project-modal-image

  } // .project-modal-images

  .project-modal-information {
    width: 39.04%;

    @include respond-to('b-700') {
      order: 1;
      width: 100%;
      margin: 40px 0;
    }

    .project-modal-title {
      margin: 0 0 10px 0;
      color: $pink;
    }

    p {
      width: 100%;
      margin: 0 0 10px 0;
      color: $teal;
      font-size: 1rem;
      line-height: 1.5;
    }

    strong {
      color: $purple;
    }

    .project-modal-link {

      a {
        color: $pink;
        text-decoration: underline;
        border: 2px solid $white;

        &:hover {
          color: $purple;
        }

        &:active, &:focus {
          border: 2px solid $purple;
        }
      }

    } // .project-modal-link

    .project-modal-meta {
      span {}
    } // .project-modal-meta

    .project-modal-role {}

    .project-modal-tools {}

    .project-modal-summary {}

    .project-modal-highlights {
      color: $teal;

      h3 {
        margin: 15px 0 5px;
        color: $purple;
      }

      ul {
        padding-left: 20px;
      }

      li {}

    } // .project-modal-highlights

  } // .project-modal-information

} // .modal-dialog

