// src/styles/components/_project-card.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.project-card {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 $space-4;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  background-color: $white;
  &:hover {
    background-color: $pastel-blue;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0.75rem;
  }

  .project-card-body {
    padding: 20px;
    color: $purple;
    text-align: left;

    .project-card-header {
      margin-bottom: 5px;

      h3 {
        color: $pink;
      }

      .project-badge {}

    } // .project-card-header

    .project-summary {
      color: $teal;
    }

    .project-meta {
      span {}
    }

    a {
      color: $pink;
      text-decoration: underline;
      &:hover {
        color: $purple;
      }
      &:active, &:focus {
        border: 2px solid $purple;
      }
    }

  } // .project-card-body

} // .project-card
