// src/styles/pages/_about.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.about {
  width: 100%;
  padding: 40px 20px;

  h1 {
    margin: 40px 0 5px;

    @include respond-to("b-670") {
      margin: 0 auto 5px;
    }
  }

  .about-columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include respond-to("b-670") {
      flex-wrap: wrap;
      justify-content: center;
    }

    .about-left {
      order: 1;
      width: 25%;

      @include respond-to("b-670") {
        order: 2;
        width: 100%;
      }

      img {
        width: 100%;

        @include respond-to("b-670") {
          max-width: 350px;
          display: block;
        }
      }

      .about-links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;

        a {
          display: inline-flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          padding: 6px 14px 4px;
          color: $white;
          background-color: $purple-2;
          border: 2px solid $purple-2;
          font-size: 0.9rem;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          text-decoration: none;

          &:hover {
            background-color: $pink-2;
            border-color: $pink-2;
          }

          &:focus {
            outline: 2px solid $purple-2;
            outline-offset: 2px;
          }

          .about-icon {
            font-size: 1rem;
          }

          .about-link-title {
            padding-top: 0;
          }

        } // a

      } // .about-links

    } // .about-left

    .about-right {
      order: 2;
      width: 75%;

      @include respond-to("b-670") {
        order: 1;
        width: 100%;
      }

      .about-group {
        width: 100%;
        max-width: 500px;
        margin: 0 0 30px 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      p {
        margin-bottom: 10px;
      }

      .about-title {
        margin: 0 0 5px;
        text-transform: uppercase;
        font-size: 1.2em;
        color: $purple-2;
      }

      .about-heading {
        margin: 0;
        font-size: 1em;
        line-height: 1.2em;
        color: $pink-2;
      }

      .about-detail {
        margin: 0 0 10px 0;
        font-size: 1em;
        line-height: 1.2em;
        color: $blue;
      }

    } // .about-right

  } // .about-columns

} // ..about
