// src/styles/pages/_work.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.work {
  max-width: 72rem;
  margin: 0 auto;
  padding: 40px 20px;
}

.work-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;

  .chip {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    span {
      padding-top: 2px;
    }

  } // .chip
  
  .chip-icon {
    font-size: 0.9rem;
  }

  .chip-active {
    background-color: $pink-2;
    pointer-events: none;

    .chip-icon {
      transform: scale(1.2);
      transition: transform 0.2s ease;
    }

  } // .chip-active

} // .work-filters

.projects-grid {
  column-count: 2;
  column-gap: $space-4;

  @include respond-to("b-850") {
    column-count: 1;
  }
}
