@use "./utils/mixins";
@use "./utils/reset";
@use "./utils/normalize";
@use "./utils/base";
@use "./utils/fonts";
@use "./utils/helpers";
@use "./components/footer";
@use "./components/galaxy-background";
@use "./components/header";
@use "./components/hero";
@use "./pages/about";
@use "./pages/contact";
@use "./pages/work";