/*--------------------------------------------------------*/
/* Font: Cabin */
/* Source: Google Web Fonts Library */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
  font-family: "cabinregular";
  src: url("/fonts/cabin-regular-webfont.woff") format("woff"),
       url("/fonts/cabin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cabinsemibold";
  src: url("/fonts/cabin-semibold-webfont.woff") format("woff"),
       url("/fonts/cabin-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
