// src/styles/utils/_mixins.scss
@use "../utils/variables" as *;
@use "sass:map";
@use "sass:meta";

// Mixin for media queries
@mixin respond-to($name) {
  @if map.has-key($breakpoints, $name) {
    @media #{meta.inspect(map.get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$name}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Simple fade-in-up animation
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fade-in-up($duration: 0.45s, $delay: 0s) {
  animation: fade-in-up $duration ease-out $delay both;
}
