// src/styles/utils/_mixins.scss
@use "../utils/variables" as *;
@use "sass:map";
@use "sass:meta";

// Mixin for media queries
@mixin respond-to($name) {
  @if map.has-key($breakpoints, $name) {
    @media #{meta.inspect(map.get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$name}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Subtle card elevation
@mixin card-elevated {
  border-radius: 1rem;
  background-color: $color-bg-elevated;
  border: 1px solid $color-border-subtle;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.35);
}

// Simple fade-in-up animation
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fade-in-up($duration: 0.45s, $delay: 0s) {
  animation: fade-in-up $duration ease-out $delay both;
}
