// src/styles/utils/_variables.scss
@use "sass:map";
@use "sass:meta";

$black: #121212;
$blue: #123A7A;
$green: #BFDA71;
$pastel-blue: #cfe8ff;
$pink: #C94768;
$pink-2: #9C1A52;
$purple: #571751;
$purple-2: #5A1F74;
$teal: #00A2A6;
$white: #FFFFFF;

$font-regular: 'cabinregular';
$font-bold: 'cabinsemibold';

$weight-regular: 400;
$semi-bold: 600;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'b-900': (max-width: 900px),
  'b-890': (max-width: 890px),
  'b-850': (max-width: 850px),
  'b-780': (max-width: 780px),
  'b-700': (max-width: 700px),
  'b-670': (max-width: 670px),
  'b-430': (max-width: 430px),
  'b-400': (max-width: 400px),
  'b-375': (max-width: 375px),
  'b-325': (max-width: 325px),
  'b-305': (max-width: 305px),
);
